
@media (max-width:1399px)
{
.m730_el1
{
      width: 91.667%;
      height: 540px;
      left: 0%;
      top: 0px;
      z-index: 13;
}
}
@media (min-width:960px) and (max-width:1399px)
{
.m730_el1
{
      width: 91.667%;
      height: 540px;
      left: 0%;
      top: 0px;
      z-index: 13;
}
}

@media (max-width:639px)
{
.m730_el1
{
      width: 100.00032000000002%;
      height: 170px;
      left: 0%;
      top: 0px;
      z-index: 13;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m730_el1
{
      width: 100.00032000000002%;
      height: 170px;
      left: 0%;
      top: 0px;
      z-index: 13;
}
}

@media (max-width:1399px)
{
.m730_el2
{
      width: 960px;
      height: 392px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m730_el2
{
      width: 960px;
      height: 392px;
}
}

@media (max-width:1399px)
{
.m730_el3
{
      width: 100.00032000000002%;
      height: 410px;
      left: 0%;
      top: 0px;
      z-index: 23;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m730_el3
{
      width: 100.00032000000002%;
      height: 410px;
      left: 0%;
      top: 0px;
      z-index: 23;
}
}

@media (max-width:1399px)
{
.m730_el4
{
      width: 695px;
      height: 100%;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m730_el4
{
      width: 695px;
      height: 100%;
}
}

@media (max-width:1399px)
{
.m730_el5
{
      width: 100.00032000000002%;
      height: 420px;
      left: 0%;
      top: 0px;
      z-index: 25;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m730_el5
{
      width: 100.00032000000002%;
      height: 420px;
      left: 0%;
      top: 0px;
      z-index: 25;
}
}

.m730_el6
{
      height: 570px;
}

@media (min-width:1400px) 
{
.m730_el6
{
      height: 570px;
}
}

.m730_el7
{
      width: 50.00016000000001%;
      height: 570px;
      left: 0%;
      top: 0px;
      z-index: 11;
}

@media (min-width:1400px) 
{
.m730_el7
{
      width: 50.00016000000001%;
      height: 570px;
      left: 0%;
      top: 0px;
      z-index: 11;
}
}

