.m732_el1
{
      width: 960px;
      height: 540px;
      text-align: left;
      vertical-align: top;
}

@media (min-width:1400px) 
{
.m732_el1
{
      width: 960px;
      height: 540px;
}
}

@media (max-width:1399px)
{
.m732_el1
{
      width: 697px;
      height: 400px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m732_el1
{
      width: 697px;
      height: 400px;
}
}

@media (max-width:959px)
{
.m732_el1
{
      width: 748px;
      height: 100%;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m732_el1
{
      width: 748px;
      height: 100%;
}
}

@media (max-width:639px)
{
.m732_el1
{
      width: 200px;
      height: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m732_el1
{
      width: 200px;
      height: 100%;
}
}

@media (max-width:479px)
{
.m732_el1
{
      width: 200px;
      height: 100%;
}
}

.m732_el2
{
      width: 100%;
      height: 540px;
      left: 0%;
      top: 0px;
      z-index: 11;
}

@media (min-width:1400px) 
{
.m732_el2
{
      width: 100%;
      height: 540px;
      left: 0%;
      top: 0px;
      z-index: 11;
}
}

@media (max-width:1399px)
{
.m732_el2
{
      width: 100.00032000000002%;
      height: 400px;
      left: 0%;
      top: 0px;
      z-index: 23;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m732_el2
{
      width: 100.00032000000002%;
      height: 400px;
      left: 0%;
      top: 0px;
      z-index: 23;
}
}

@media (max-width:959px)
{
.m732_el2
{
      width: 100.00032000000002%;
      height: 420px;
      left: 0%;
      top: 0px;
      z-index: 29;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m732_el2
{
      width: 100.00032000000002%;
      height: 420px;
      left: 0%;
      top: 0px;
      z-index: 29;
}
}

@media (max-width:639px)
{
.m732_el2
{
      width: 100%;
      height: 170px;
      left: 0%;
      top: 0px;
      z-index: 55;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m732_el2
{
      width: 100%;
      height: 170px;
      left: 0%;
      top: 0px;
      z-index: 55;
}
}

@media (max-width:479px)
{
.m732_el2
{
      width: 100.00032000000002%;
      height: 200px;
      left: 0%;
      top: 0px;
      z-index: 43;
}
}

