.m769_el1
{
      width: 427px;
      height: 100%;
      text-align: left;
      vertical-align: top;
}

@media (min-width:1400px) 
{
.m769_el1
{
      width: 427px;
      height: 100%;
}
}

@media (max-width:1399px)
{
.m769_el1
{
      width: 318px;
      height: 100%;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m769_el1
{
      width: 318px;
      height: 100%;
}
}

@media (max-width:959px)
{
.m769_el1
{
      width: 340px;
      height: 430px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m769_el1
{
      width: 340px;
      height: 430px;
}
}

@media (max-width:639px)
{
.m769_el1
{
      width: 143px;
      height: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m769_el1
{
      width: 143px;
      height: 100%;
}
}

@media (max-width:479px)
{
.m769_el1
{
      width: 169px;
      height: 100%;
}
}

.m769_el2
{
      width: 427px;
      height: 540px;
      left: 0px;
      top: 0px;
      z-index: 11;
      background-image: url(../upload/image_library/13-BNG-006_FAIL_540.jpg);
}

@media (min-width:1400px) 
{
.m769_el2
{
      width: 427px;
      height: 540px;
      left: 0px;
      top: 0px;
      z-index: 11;
}
}

@media (max-width:1399px)
{
.m769_el2
{
      width: 318px;
      height: 390px;
      left: 0px;
      top: 0px;
      z-index: 11;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m769_el2
{
      width: 318px;
      height: 390px;
      left: 0px;
      top: 0px;
      z-index: 11;
}
}

@media (max-width:959px)
{
.m769_el2
{
      width: 340px;
      height: 430px;
      left: 0px;
      top: 0px;
      z-index: 21;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m769_el2
{
      width: 340px;
      height: 430px;
      left: 0px;
      top: 0px;
      z-index: 21;
}
}

@media (max-width:639px)
{
.m769_el2
{
      width: 143px;
      height: 170px;
      left: 0px;
      top: 0px;
      z-index: 27;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m769_el2
{
      width: 143px;
      height: 170px;
      left: 0px;
      top: 0px;
      z-index: 27;
}
}

@media (max-width:479px)
{
.m769_el2
{
      width: 169px;
      height: 200px;
      left: 0px;
      top: 0px;
      z-index: 23;
}
}

