




.about-wrapper
{
      float:left;
      clear:left;
      height:15px;
}

@media (max-width:479px)
{
.about-wrapper
{
      display:none;
}
}

.about-content p
{
      margin-bottom: 1em;
}




.m870_el1
{
      width: 100%;
      height: 937px;
      z-index: 0;
}

@media (min-width:1400px) 
{
.m870_el1
{
      height: 937px;
      width: 100%;
}
}

@media (max-width:1399px)
{
.m870_el1
{
      width: 100%;
      height: 880px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el1
{
      width: 100%;
      height: 880px;
}
}

@media (max-width:959px)
{
.m870_el1
{
      height: 870px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el1
{
      height: 870px;
}
}

@media (max-width:767px)
{
.m870_el1
{
      height: 870px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m870_el1
{
      height: 870px;
}
}

@media (max-width:639px)
{
.m870_el1
{
      height: 870px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el1
{
      height: 870px;
}
}

@media (max-width:479px)
{
.m870_el1
{
      height: 635px;
}
}

.m870_el2
{
      height: 800px;
      left: 0%;
      top: 137px;
      z-index: 0;
      background-image: url(../upload/image_library/bg-about-large.png);
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      min-height: 800px;
      width: 100%;
}

@media (min-width:1400px) 
{
.m870_el2
{
      height: 800px;
      left: 0%;
      top: 137px;
      z-index: 0;
      background-image: url(../upload/image_library/bg-about-large.png);
      background-size: cover;
      background-position: left top;
      min-height: 800px;
      width: 100%;
}
}

@media (max-width:1399px)
{
.m870_el2
{
      width: 100.032%;
      height: 740px;
      left: 0%;
      top: 140px;
      z-index: 187;
      background-image: url(../upload/image_library/bg-about-large.png);
      background-position: left top;
      background-size: cover;
      min-height: 735px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el2
{
      width: 100.032%;
      height: 740px;
      left: 0%;
      top: 140px;
      z-index: 187;
      background-image: url(../upload/image_library/bg-about-large.png);
      background-position: left top;
      background-size: cover;
      min-height: 735px;
}
}

@media (max-width:959px)
{
.m870_el2
{
      background-image: url(../upload/image_library/about-tablet-portrait.jpg);
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 229;

}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el2
{
      background-image: url(../upload/image_library/about-tablet-portrait.jpg);
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 229;
}
}

@media (max-width:767px)
{
.m870_el2
{
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 253;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m870_el2
{
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 253;
}
}

@media (max-width:639px)
{
.m870_el2
{
      background-image: url(../upload/image_library/bg-about-xs.png);
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 277;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el2
{
      background-image: url(../upload/image_library/bg-about-xs.png);
      width: 100.032%;
      height: 735px;
      left: 0%;
      top: 135px;
      z-index: 277;
}
}

@media (max-width:479px)
{
.m870_el2
{
      background-image: url(../upload/image_library/about-mobile-portrait.jpg);
      height: 500px;
      min-height: 500px;
      width: 100.032%;
      left: 0%;
      top: 135px;
      z-index: 305;
}
}

.m870_el3
{
      height: 137px;
      left: 0%;
      top: 0px;
      z-index: 133;
      font-size: 36px;
      color: #FFFFFF;
      width: 100%;
      
      line-height: 1em;
}

@media (min-width:1400px) 
{
.m870_el3
{
      height: 137px;
      left: 0%;
      top: 0px;
      z-index: 133;
      font-size: 36px;
      color: #FFFFFF;
      width: 100%;
      
      line-height: 1em;
}
}

@media (max-width:1399px)
{
.m870_el3
{
      height: 140px;
      font-size: 34px;
      line-height: 34px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el3
{
      height: 140px;
      font-size: 34px;
      line-height: 34px;
}
}

@media (max-width:959px)
{
.m870_el3
{
      height: 135px;
      font-size: 28px;
      line-height: 28px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el3
{
      height: 135px;
      font-size: 28px;
      line-height: 28px;
}
}

@media (max-width:767px)
{
.m870_el3
{
      font-size: 30px;
      line-height: 30px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m870_el3
{
      font-size: 30px;
      line-height: 30px;
}
}

@media (max-width:639px)
{
.m870_el3
{
      font-size: 30px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el3
{
      font-size: 30px;
}
}

.m870_el4
{
      text-align: left;
      vertical-align: top;
      padding-left: 206px;
      padding-top: 80px;
}

@media (min-width:1400px) 
{
.m870_el4
{
      padding-left: 206px;
      padding-top: 80px;
}
}

@media (max-width:959px)
{
.m870_el4
{
      padding-left: 166px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el4
{
      padding-left: 166px;
}
}

@media (max-width:767px)
{
.m870_el4
{
      padding-left: 10px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m870_el4
{
      padding-left: 10px;
}
}

@media (max-width:639px)
{
.m870_el4
{
      padding-left: 10px;
      padding-top: 80px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el4
{
      padding-left: 10px;
      padding-top: 80px;
}
}

.m870_el5
{
      width: 55%;
      height: 460px;
      left: 45%;
      z-index: 161;
      font-size: 16px;
      line-height: 2em;
      color: #5E6167;
      top: 240px;
      
}

@media (min-width:1400px) 
{
.m870_el5
{
      width: 55%;
      height: 460px;
      left: 45%;
      z-index: 161;
      font-size: 16px;
      line-height: 2em;
      color: #5E6167;
      top: 240px;
      
}
}

@media (max-width:1399px)
{
.m870_el5
{
      width: 52%;
      height: 680px;
      left: 48%;
      top: 195px;
      z-index: 193;
      font-size: 14px;
      line-height: 2em;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el5
{
      width: 52%;
      height: 680px;
      left: 48%;
      top: 195px;
      z-index: 193;
      font-size: 14px;
      line-height: 2em;
}
}

@media (max-width:959px)
{
.m870_el5
{
      width: 65%;
      height: 680px;
      left: 35%;
      top: 190px;
      z-index: 231;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el5
{
      width: 65%;
      height: 680px;
      left: 35%;
      top: 190px;
      z-index: 231;
}
}

@media (max-width:767px)
{
.m870_el5
{
      height: 680px;
      left: 35%;
      top: 190px;
      z-index: 255;
      width: 65%;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m870_el5
{
      height: 680px;
      left: 35%;
      top: 190px;
      z-index: 255;
      width: 65%;
}
}

@media (max-width:639px)
{
.m870_el5
{
      height: 610px;
      left: 0%;
      top: 170px;
      z-index: 279;
      width: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el5
{
      height: 610px;
      left: 0%;
      top: 170px;
      z-index: 279;
      width: 100%;
}
}

@media (max-width:479px)
{
.m870_el5
{
      font-size: 11px;
      width: 100.032%;
      height: 475px;
      left: 0%;
      top: 160px;
      z-index: 317;
      line-height: 1.75em;
}
}

.m870_el6
{
      width: 617px;
      height: 704px;
      text-align: left;
      vertical-align: top;
      margin: 0 auto 0 0;
}

@media (min-width:1400px) 
{
.m870_el6
{
      height: 704px;
      width: 617px;
}
}

@media (max-width:1399px)
{
.m870_el6
{
      height: 100%;
      width: 568px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el6
{
      height: 100%;
      width: 568px;
}
}

.m870_el7
{
      width: 355px;
      height: 20px;
      left: 50px;
      top: 40px;
      z-index: 292;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el7
{
      width: 355px;
      height: 20px;
      left: 50px;
      top: 40px;
      z-index: 292;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el7
{
      font-size: 16px;
      width: 355px;
      height: 20px;
      left: 49px;
      top: 40px;
      z-index: 356;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el7
{
      font-size: 16px;
      width: 355px;
      height: 20px;
      left: 49px;
      top: 40px;
      z-index: 356;
}
}

.m870_el8
{
      text-align: left;
      vertical-align: top;
}

.m870_el9
{
      width: 369px;
      height: 20px;
      left: 60px;
      top: 60px;
      z-index: 294;
      color: #5E6167;
      font-size: 18px;
}

@media (min-width:1400px) 
{
.m870_el9
{
      width: 369px;
      height: 20px;
      left: 60px;
      top: 60px;
      z-index: 294;
      color: #5E6167;
      font-size: 18px;
}
}

@media (max-width:1399px)
{
.m870_el9
{
      font-size: 16px;
      width: 369px;
      height: 20px;
      left: 57px;
      top: 60px;
      z-index: 354;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el9
{
      font-size: 16px;
      width: 369px;
      height: 20px;
      left: 57px;
      top: 60px;
      z-index: 354;
}
}

.m870_el10
{
      text-align: left;
      vertical-align: top;
}

.m870_el11
{
      width: 375px;
      height: 20px;
      left: 72px;
      top: 100px;
      z-index: 298;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el11
{
      width: 375px;
      height: 20px;
      left: 72px;
      top: 100px;
      z-index: 298;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el11
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el11
{
      font-size: 16px;
}
}

.m870_el12
{
      text-align: left;
      vertical-align: top;
}

.m870_el13
{
      width: 416px;
      height: 20px;
      left: 79px;
      top: 120px;
      z-index: 300;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el13
{
      width: 416px;
      height: 20px;
      left: 79px;
      top: 120px;
      z-index: 300;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el13
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el13
{
      font-size: 16px;
}
}

.m870_el14
{
      text-align: left;
      vertical-align: top;
}

.m870_el15
{
      width: 168px;
      height: 20px;
      left: 88px;
      top: 140px;
      z-index: 302;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el15
{
      width: 168px;
      height: 20px;
      left: 88px;
      top: 140px;
      z-index: 302;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el15
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el15
{
      font-size: 16px;
}
}

.m870_el16
{
      text-align: left;
      vertical-align: top;
}

.m870_el17
{
      width: 143px;
      height: 20px;
      left: 254px;
      top: 140px;
      z-index: 304;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el17
{
      width: 143px;
      height: 20px;
      left: 254px;
      top: 140px;
      z-index: 304;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el17
{
      font-size: 16px;
      width: 143px;
      height: 20px;
      left: 244px;
      top: 140px;
      z-index: 358;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el17
{
      font-size: 16px;
      width: 143px;
      height: 20px;
      left: 244px;
      top: 140px;
      z-index: 358;
}
}

.m870_el18
{
      text-align: left;
      vertical-align: top;
}

.m870_el19
{
      width: 354px;
      height: 20px;
      left: 97px;
      top: 160px;
      z-index: 306;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el19
{
      width: 354px;
      height: 20px;
      left: 97px;
      top: 160px;
      z-index: 306;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el19
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el19
{
      font-size: 16px;
}
}

.m870_el20
{
      text-align: left;
      vertical-align: top;
}

.m870_el21
{
      width: 418px;
      height: 20px;
      left: 108px;
      top: 200px;
      z-index: 308;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el21
{
      width: 418px;
      height: 20px;
      left: 108px;
      top: 200px;
      z-index: 308;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el21
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el21
{
      font-size: 16px;
}
}

.m870_el22
{
      text-align: left;
      vertical-align: top;
}

.m870_el23
{
      width: 122px;
      height: 20px;
      left: 116px;
      top: 220px;
      z-index: 310;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el23
{
      width: 122px;
      height: 20px;
      left: 116px;
      top: 220px;
      z-index: 310;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el23
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el23
{
      font-size: 16px;
}
}

.m870_el24
{
      text-align: left;
      vertical-align: top;
}

.m870_el25
{
      width: 165px;
      height: 20px;
      left: 238px;
      top: 220px;
      z-index: 312;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el25
{
      width: 165px;
      height: 20px;
      left: 238px;
      top: 220px;
      z-index: 312;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el25
{
      font-size: 16px;
      width: 165px;
      height: 20px;
      left: 222px;
      top: 220px;
      z-index: 360;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el25
{
      font-size: 16px;
      width: 165px;
      height: 20px;
      left: 222px;
      top: 220px;
      z-index: 360;
}
}

.m870_el26
{
      text-align: left;
      vertical-align: top;
}

.m870_el27
{
      width: 375px;
      height: 20px;
      left: 123px;
      top: 240px;
      z-index: 314;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el27
{
      width: 375px;
      height: 20px;
      left: 123px;
      top: 240px;
      z-index: 314;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el27
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el27
{
      font-size: 16px;
}
}

.m870_el28
{
      text-align: left;
      vertical-align: top;
}

.m870_el29
{
      width: 159px;
      height: 20px;
      left: 128px;
      top: 260px;
      z-index: 318;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el29
{
      width: 159px;
      height: 20px;
      left: 128px;
      top: 260px;
      z-index: 318;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el29
{
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el29
{
      font-size: 16px;
}
}

.m870_el30
{
      text-align: left;
      vertical-align: top;
}

.m870_el31
{
      width: 175px;
      height: 20px;
      left: 284px;
      top: 260px;
      z-index: 320;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el31
{
      width: 175px;
      height: 20px;
      left: 284px;
      top: 260px;
      z-index: 320;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el31
{
      font-size: 16px;
      width: 175px;
      height: 20px;
      left: 270px;
      top: 260px;
      z-index: 362;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el31
{
      font-size: 16px;
      width: 175px;
      height: 20px;
      left: 270px;
      top: 260px;
      z-index: 362;
}
}

.m870_el32
{
      text-align: left;
      vertical-align: top;
}

.m870_el33
{
      width: 163px;
      height: 20px;
      left: 454px;
      top: 260px;
      z-index: 322;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el33
{
      width: 163px;
      height: 20px;
      left: 454px;
      top: 260px;
      z-index: 322;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el33
{
      font-size: 16px;
      width: 163px;
      height: 20px;
      left: 132px;
      top: 280px;
      z-index: 390;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el33
{
      font-size: 16px;
      width: 163px;
      height: 20px;
      left: 132px;
      top: 280px;
      z-index: 390;
}
}

.m870_el34
{
      text-align: left;
      vertical-align: top;
}

.m870_el35
{
      width: 237px;
      height: 20px;
      left: 136px;
      top: 280px;
      z-index: 324;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el35
{
      width: 237px;
      height: 20px;
      left: 136px;
      top: 280px;
      z-index: 324;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el35
{
      font-size: 16px;
      width: 237px;
      height: 20px;
      left: 278px;
      top: 280px;
      z-index: 392;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el35
{
      font-size: 16px;
      width: 237px;
      height: 20px;
      left: 278px;
      top: 280px;
      z-index: 392;
}
}

.m870_el36
{
      text-align: left;
      vertical-align: top;
}

.m870_el37
{
      width: 161px;
      height: 20px;
      left: 370px;
      top: 280px;
      z-index: 326;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el37
{
      width: 161px;
      height: 20px;
      left: 370px;
      top: 280px;
      z-index: 326;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el37
{
      font-size: 16px;
      width: 161px;
      height: 20px;
      left: 138px;
      top: 300px;
      z-index: 394;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el37
{
      font-size: 16px;
      width: 161px;
      height: 20px;
      left: 138px;
      top: 300px;
      z-index: 394;
}
}

.m870_el38
{
      text-align: left;
      vertical-align: top;
}

.m870_el39
{
      width: 295px;
      height: 20px;
      left: 143px;
      top: 300px;
      z-index: 328;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el39
{
      width: 295px;
      height: 20px;
      left: 143px;
      top: 300px;
      z-index: 328;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el39
{
      font-size: 16px;
      width: 295px;
      height: 20px;
      left: 142px;
      top: 320px;
      z-index: 396;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el39
{
      font-size: 16px;
      width: 295px;
      height: 20px;
      left: 142px;
      top: 320px;
      z-index: 396;
}
}

.m870_el40
{
      text-align: left;
      vertical-align: top;
}

.m870_el41
{
      width: 230px;
      height: 20px;
      left: 148px;
      top: 320px;
      z-index: 330;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el41
{
      width: 230px;
      height: 20px;
      left: 148px;
      top: 320px;
      z-index: 330;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el41
{
      font-size: 16px;
      width: 230px;
      height: 20px;
      left: 146px;
      top: 340px;
      z-index: 398;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el41
{
      font-size: 16px;
      width: 230px;
      height: 20px;
      left: 146px;
      top: 340px;
      z-index: 398;
}
}

.m870_el42
{
      text-align: left;
      vertical-align: top;
}

.m870_el43
{
      width: 216px;
      height: 20px;
      left: 375px;
      top: 320px;
      z-index: 332;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el43
{
      width: 216px;
      height: 20px;
      left: 375px;
      top: 320px;
      z-index: 332;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el43
{
      font-size: 16px;
      width: 216px;
      height: 20px;
      left: 352px;
      top: 340px;
      z-index: 400;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el43
{
      font-size: 16px;
      width: 216px;
      height: 20px;
      left: 352px;
      top: 340px;
      z-index: 400;
}
}

.m870_el44
{
      text-align: left;
      vertical-align: top;
}

.m870_el45
{
      width: 191px;
      height: 20px;
      left: 158px;
      top: 340px;
      z-index: 282;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el45
{
      width: 191px;
      height: 20px;
      left: 158px;
      top: 340px;
      z-index: 282;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el45
{
      font-size: 16px;
      width: 191px;
      height: 20px;
      left: 157px;
      top: 360px;
      z-index: 402;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el45
{
      font-size: 16px;
      width: 191px;
      height: 20px;
      left: 157px;
      top: 360px;
      z-index: 402;
}
}

.m870_el46
{
      text-align: left;
      vertical-align: top;
}

.m870_el47
{
      width: 144px;
      height: 20px;
      left: 345px;
      top: 340px;
      z-index: 336;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el47
{
      width: 144px;
      height: 20px;
      left: 345px;
      top: 340px;
      z-index: 336;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el47
{
      font-size: 16px;
      width: 144px;
      height: 20px;
      left: 330px;
      top: 360px;
      z-index: 404;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el47
{
      font-size: 16px;
      width: 144px;
      height: 20px;
      left: 330px;
      top: 360px;
      z-index: 404;
}
}

.m870_el48
{
      text-align: left;
      vertical-align: top;
}

.m870_el49
{
      width: 218px;
      height: 20px;
      left: 163px;
      top: 360px;
      z-index: 338;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el49
{
      width: 218px;
      height: 20px;
      left: 163px;
      top: 360px;
      z-index: 338;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el49
{
      font-size: 16px;
      width: 218px;
      height: 20px;
      left: 161px;
      top: 380px;
      z-index: 406;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el49
{
      font-size: 16px;
      width: 218px;
      height: 20px;
      left: 161px;
      top: 380px;
      z-index: 406;
}
}

.m870_el50
{
      text-align: left;
      vertical-align: top;
}

.m870_el51
{
      width: 202px;
      height: 20px;
      left: 376px;
      top: 360px;
      z-index: 340;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el51
{
      width: 202px;
      height: 20px;
      left: 376px;
      top: 360px;
      z-index: 340;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el51
{
      font-size: 16px;
      width: 202px;
      height: 20px;
      left: 354px;
      top: 380px;
      z-index: 408;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el51
{
      font-size: 16px;
      width: 202px;
      height: 20px;
      left: 354px;
      top: 380px;
      z-index: 408;
}
}

.m870_el52
{
      text-align: left;
      vertical-align: top;
}

.m870_el53
{
      width: 144px;
      height: 20px;
      left: 171px;
      top: 380px;
      z-index: 342;
      font-size: 18px;
      color: #5E6167;
}

@media (min-width:1400px) 
{
.m870_el53
{
      width: 144px;
      height: 20px;
      left: 171px;
      top: 380px;
      z-index: 342;
      font-size: 18px;
      color: #5E6167;
}
}

@media (max-width:1399px)
{
.m870_el53
{
      font-size: 16px;
      width: 144px;
      height: 20px;
      left: 172px;
      top: 400px;
      z-index: 410;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el53
{
      font-size: 16px;
      width: 144px;
      height: 20px;
      left: 172px;
      top: 400px;
      z-index: 410;
}
}

.m870_el54
{
      text-align: left;
      vertical-align: top;
}

.m870_el55
{
      text-align: left;
      vertical-align: top;
      padding-right: 50px;
}

@media (min-width:1400px) 
{
.m870_el55
{
      padding-right: 50px;
}
}

@media (max-width:959px)
{
.m870_el55
{
      padding-right: 30px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el55
{
      padding-right: 30px;
}
}

@media (max-width:639px)
{
.m870_el55
{
      padding-left: 30px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m870_el55
{
      padding-left: 30px;
}
}

@media (max-width:479px)
{
.m870_el55
{
      padding-left: 10px;
      padding-right: 10px;
}
}

.m870_el56
{
      width: 100.03200000000001%;
      height: 736px;
      left: 0%;
      top: 137px;
      z-index: 150;
      background-color: #FFFFFF;
      filter: alpha(opacity=0);
      opacity: 0.9;
}

@media (min-width:1400px) 
{
.m870_el56
{
      width: 100.03200000000001%;
      height: 736px;
      left: 0%;
      top: 137px;
      z-index: 150;
      background-color: #FFFFFF;
      opacity: 0;
      filter: alpha(opacity=0);
}
}

@media (max-width:1399px)
{
.m870_el56
{
      opacity: 0;
      filter: alpha(opacity=0);
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m870_el56
{
      opacity: 0;
      filter: alpha(opacity=0);
}
}

@media (max-width:959px)
{
.m870_el56
{
      opacity: 0;
      filter: alpha(opacity=0);
      width: 100.032%;
      height: 740px;
      left: 0%;
      top: 140px;
      z-index: 156;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el56
{
      opacity: 0;
      filter: alpha(opacity=0);
      width: 100.032%;
      height: 740px;
      left: 0%;
      top: 140px;
      z-index: 156;
}
}

@media (max-width:479px)
{
.m870_el56
{
      opacity: 0.9;
      filter: alpha(opacity=90);
      width: 100.03200000000001%;
      height: 500px;
      left: 0%;
      top: 140px;
      z-index: 165;
}
}

.m870_el57
{
      width: 25.008000000000003%;
      height: 234px;
      left: 18.756%;
      top: 255px;
      z-index: 159;
      background-color: #FFFFFF;
      opacity: 0;
      filter: alpha(opacity=0);
}

@media (min-width:1400px) 
{
.m870_el57
{
      width: 25.008000000000003%;
      height: 234px;
      left: 18.756%;
      top: 255px;
      z-index: 159;
      background-color: #FFFFFF;
      opacity: 0;
      filter: alpha(opacity=0);
}
}

@media (max-width:959px)
{
.m870_el57
{
      width: 25.008%;
      height: 235px;
      left: 3.126%;
      top: 235px;
      z-index: 221;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m870_el57
{
      width: 25.008%;
      height: 235px;
      left: 3.126%;
      top: 235px;
      z-index: 221;
}
}

@media (max-width:479px)
{
.m870_el57
{
      width: 100.032%;
      height: 500px;
      left: 0%;
      top: 135px;
      z-index: 309;
      filter: alpha(opacity=90);
      opacity: 0.9;
}
}

