.m915_el1
{
      width: 100%;
      height: 1137px;
}

@media (min-width:1400px) 
{
.m915_el1
{
      height: 1137px;
      width: 100%;
}
}

@media (max-width:1399px)
{
.m915_el1
{
      height: 1137px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el1
{
      height: 1137px;
}
}

@media (max-width:959px)
{
.m915_el1
{
      width: 100%;
      height: 1027px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el1
{
      width: 100%;
      height: 1027px;
}
}

@media (max-width:767px)
{
.m915_el1
{
      height: 1061px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el1
{
      height: 1061px;
}
}

@media (max-width:639px)
{
.m915_el1
{
      height: 1039px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el1
{
      height: 1039px;
}
}

@media (max-width:479px)
{
.m915_el1
{
      height: 1283px;
      min-height: 10px;
}
}

.m915_el2
{
      height: 140px;
      left: 0%;
      top: 0px;
      z-index: 213;
      font-size: 36px;
      color: #FFFFFF;
      width: 100%;
}

@media (min-width:1400px) 
{
.m915_el2
{
      height: 140px;
      left: 0%;
      top: 0px;
      z-index: 213;
      font-size: 36px;
      color: #FFFFFF;
      width: 100%;
}
}

@media (max-width:1399px)
{
.m915_el2
{
      width: 100%;
      height: 140px;
      left: 0%;
      top: 0px;
      z-index: 215;
      font-size: 34px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el2
{
      width: 100%;
      height: 140px;
      left: 0%;
      top: 0px;
      z-index: 215;
      font-size: 34px;
}
}

@media (max-width:959px)
{
.m915_el2
{
      font-size: 28px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el2
{
      font-size: 28px;
}
}

@media (max-width:767px)
{
.m915_el2
{
      font-size: 30px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el2
{
      font-size: 30px;
}
}

@media (max-width:479px)
{
.m915_el2
{
      height: 137px;
}
}

.m915_el3
{
      padding-left: 206px;
      padding-top: 80px;
      text-align: left;
      vertical-align: top;
      
      font-weight: bold;
 }

@media (min-width:1400px) 
{
.m915_el3
{
      padding-left: 206px;
      padding-top: 80px;
}
}

@media (max-width:959px)
{
.m915_el3
{
      padding-left: 166px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el3
{
      padding-left: 166px;
}
}

@media (max-width:767px)
{
.m915_el3
{
      padding-left: 10px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el3
{
      padding-left: 10px;
}
}

.m915_el4
{
      height: 1001px;
      left: 0%;
      top: 136px;
      z-index: 0;
      background-image: url(../upload/image_library/1920x1080_SoapBox.png);
      background-size: cover;
      background-position: 0% 50%;
      min-height: 800px;
      width: 100%;
}

@media (min-width:1400px) 
{
.m915_el4
{
      height: 1001px;
      left: 0%;
      top: 136px;
      z-index: 0;
      background-image: url(../upload/image_library/1920x1080_SoapBox.png);
      background-size: cover;
      background-position: 0% 50%;
      min-height: 800px;
      width: 100%;
}
}

@media (max-width:1399px)
{
.m915_el4
{
      width: 100%;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el4
{
      width: 100%;
}
}

@media (max-width:959px)
{
.m915_el4
{
      height: 891px;
      width: 100%;
      left: 0%;
      top: 136px;
      z-index: 0;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el4
{
      height: 891px;
      width: 100%;
      left: 0%;
      top: 136px;
      z-index: 0;
}
}

@media (max-width:767px)
{
.m915_el4
{
      width: 100%;
      height: 901px;
      left: 0%;
      top: 136px;
      z-index: 0;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el4
{
      width: 100%;
      height: 901px;
      left: 0%;
      top: 136px;
      z-index: 0;
}
}

@media (max-width:639px)
{
.m915_el4
{
      height: 894px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el4
{
      height: 894px;
}
}

@media (max-width:479px)
{
.m915_el4
{
      width: 100%;
      height: 1147px;
      left: 0%;
      right:0;
       top: 136px;
      z-index: 0;
}
}

.m915_el5
{
      height: 1001px;
      top: 136px;
      z-index:210;
      width: 32%;
     
     right:0;
      filter: alpha(opacity=100);
      min-width: 600px;
      opacity: 1;
}

@media (min-width:1400px) 
{
.m915_el5
{
      height: 1001px;
      top: 136px;
      z-index: 210;
     
      width: 32%;
      filter: alpha(opacity=100);
      min-width: 600px;
      opacity: 1;
}
}

@media (max-width:1399px)
{
.m915_el5
{
      width: 64%;
      height: 1001px;
      right: 0;
      top: 135px;
      z-index: 210;
     
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el5
{
      width: 64%;
      height: 1001px;
      right: 0;
      top: 135px;
      z-index:210;
     
}
}

@media (max-width:959px)
{
.m915_el5
{
      width: 64.1%;
      height: 892px;
      left: 35.9%;
      top: 134px;
      z-index:253;
      min-width: 500px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el5
{
      width: 64.1%;
      height: 892px;
      
      right:0;
      top: 134px;
      z-index: 220;
      min-width: 500px;
      left: 35.9%;
}
}

@media (max-width:767px)
{
.m915_el5
{
      width: 100%;
      left: 0%;
      min-width: 0;
      height: 900px;
      top: 136px;
      z-index:210;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el5
{
      width: 100%;
      left: 0%;
      min-width: 0;
      height: 900px;
      top: 136px;
      z-index:210;
}
}

@media (max-width:639px)
{
.m915_el5
{
      width: 100%;
      height: 894px;
      left: 0%;
      top: 136px;
      z-index: 210;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el5
{
      width: 100%;
      height: 894px;
      left: 0%;
      top: 136px;
      z-index: 210;
}
}

@media (max-width:479px)
{
.m915_el5
{
      width: 100%;
      height: 1147px;
      left: 0.1%;
      top: 136px;
      z-index: 210;
      filter: alpha(opacity=95);
      opacity: 0.95;
}
}

.m915_el6
{
      width: 600px;
      height: 100%;
      text-align: left;
      vertical-align: top;
      margin: 0 0 0 auto;
      background-color: rgba(227,204,50,0.93);
}

@media (min-width:1400px) 
{
.m915_el6
{
      height: 100%;
      width: 600px;

}
}

@media (max-width:1399px)
{
.m915_el6
{
      height: 100%;
      width: 603px;
      filter: alpha(opacity=100);
      opacity: 1;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el6
{
      height: 100%;
      width: 603px;
      filter: alpha(opacity=100);
      opacity: 1;
}
}

@media (max-width:959px)
{
.m915_el6
{
      width: 503px;
      height: 100%;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el6
{
      width: 503px;
      height: 100%;
}
}

@media (max-width:767px)
{
.m915_el6
{
      width: 724px;
      height: 100%;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el6
{
      width: 724px;
      height: 100%;
}
}

@media (max-width:639px)
{
.m915_el6
{
      height: 100%;
      width: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el6
{
      height: 100%;
      width: 100%;
}
}

@media (max-width:479px)
{
.m915_el6
{
      height: 1147px;
}
}

.m915_el7
{
      width: 356.5px;
      height: 139px;
      left: 127.5px;
      top: 12px;
      z-index: 193;
      background-image: url(../upload/image_library/soapbox-logo.png);
      background-size: auto;
}

@media (min-width:1400px) 
{
.m915_el7
{
      width: 356.5px;
      height: 139px;
      left: 127.5px;
      top: 12px;
      z-index: 193;
      background-image: url(../upload/image_library/soapbox-logo.png);
      background-size: auto;
}
}

@media (max-width:1399px)
{
.m915_el7
{
      width: 356.5px;
      height: 140px;
      left: 126.5px;
      top: 17px;
      z-index: 199;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el7
{
      width: 356.5px;
      height: 140px;
      left: 126.5px;
      top: 17px;
      z-index: 199;
}
}

@media (max-width:959px)
{
.m915_el7
{
      width: 52%;
      height: 100px;
      left: 23.8%;
      top: 10px;
      z-index: 341;
      background-size: contain;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el7
{
      width: 52%;
      height: 100px;
      left: 23.8%;
      top: 10px;
      z-index: 341;
      background-size: contain;
}
}

@media (max-width:767px)
{
.m915_el7
{
      width: 275.2px;
      height: 132px;
      left: 221.5px;
      top: 11px;
      z-index: 319;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el7
{
      width: 275.2px;
      height: 132px;
      left: 221.5px;
      top: 11px;
      z-index: 319;
}
}

@media (max-width:639px)
{
.m915_el7
{
      width: 48.5%;
      height: 130px;
      left: 26.6%;
      top: 10px;
      z-index: 447;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el7
{
      width: 48.5%;
      height: 130px;
      left: 26.6%;
      top: 10px;
      z-index: 447;
}
}

@media (max-width:479px)
{
.m915_el7
{
      width: 89%;
      height: 132px;
      left: 5.1%;
      top: 3px;
      z-index: 515;
}
}

.m915_el8
{
      width: 176.5px;
      height: 20px;
      left: 220px;
      top: 164px;
      z-index: 179;
      font-size: 11.727272033691406px;
      color: #f35c21;
}

@media (min-width:1400px) 
{
.m915_el8
{
      width: 176.5px;
      height: 20px;
      left: 220px;
      top: 164px;
      z-index: 179;
      font-size: 11.727272033691406px;
      color: #f35c21;
}
}

@media (max-width:1399px)
{
.m915_el8
{
      width: 229.20000000000002px;
      height: 20px;
      left: 189px;
      top: 175px;
      z-index: 203;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el8
{
      width: 229.20000000000002px;
      height: 20px;
      left: 189px;
      top: 175px;
      z-index: 203;
}
}

@media (max-width:959px)
{
.m915_el8
{
      width: 38%;
      height: 20px;
      left: 31.2%;
      top: 130px;
      z-index: 343;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el8
{
      width: 38%;
      height: 20px;
      left: 31.2%;
      top: 130px;
      z-index: 343;
}
}

@media (max-width:767px)
{
.m915_el8
{
      width: 199.9px;
      height: 20px;
      left: 262.7px;
      top: 159px;
      z-index: 321;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el8
{
      width: 199.9px;
      height: 20px;
      left: 262.7px;
      top: 159px;
      z-index: 321;
}
}

@media (max-width:639px)
{
.m915_el8
{
      width: 35%;
      height: 20px;
      left: 32.3%;
      top: 157px;
      z-index: 449;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el8
{
      width: 35%;
      height: 20px;
      left: 32.3%;
      top: 157px;
      z-index: 449;
}
}

@media (max-width:479px)
{
.m915_el8
{
      width: 51.5%;
      height: 20px;
      left: 24.2%;
      top: 156px;
      z-index: 513;
}
}

.m915_el9
{
      height: 174px;
      left: 2px;
      top: 203px;
      z-index: 195;
      width: 600.5px;
      line-height: 17px;
}

@media (min-width:1400px) 
{
.m915_el9
{
      height: 174px;
      left: 2px;
      top: 203px;
      z-index: 195;
      width: 600.5px;
      line-height: 17px;
}
}

@media (max-width:1399px)
{
.m915_el9
{
      width: 600.5px;
      height: 174px;
      left: 2px;
      top: 211px;
      z-index: 213;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el9
{
      width: 600.5px;
      height: 174px;
      left: 2px;
      top: 211px;
      z-index: 213;
}
}

@media (max-width:959px)
{
.m915_el9
{
      font-size: 14px;
      width: 99.8%;
      height: 240px;
      left: 0.4%;
      top: 170px;
      z-index: 325;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el9
{
      font-size: 14px;
      width: 99.8%;
      height: 240px;
      left: 0.4%;
      top: 170px;
      z-index: 325;
}
}

@media (max-width:767px)
{
.m915_el9
{
      width: 100%;
      height: 150px;
      left: 0px;
      top: 201px;
      z-index: 291;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el9
{
      width: 100%;
      height: 150px;
      left: 0px;
      top: 201px;
      z-index: 291;
}
}

@media (max-width:639px)
{
.m915_el9
{
      width: 100%;
      height: 204px;
      left: 0%;
      top: 194px;
      z-index: 411;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el9
{
      width: 100%;
      height: 204px;
      left: 0%;
      top: 194px;
      z-index: 411;
}
}

@media (max-width:479px)
{
.m915_el9
{
      width: 99.5%;
      height: 362px;
      left: 0.5%;
      top: 187px;
      z-index: 449;
      line-height: 17px;
      font-size: 14px;
}
}

.m915_el10
{
      text-align: left;
      vertical-align: top;
      padding-left: 25px;
      padding-right: 25px;
}

.m915_el10 a
{
      text-decoration:none;
      color: red;
}
.m915_el10 a:hover
{
      text-decoration:underline;
}

@media (min-width:1400px) 
{
.m915_el10
{
      padding-left: 25px;
      padding-right: 25px;
}
}

@media (max-width:959px)
{
.m915_el10
{
      padding-left: 16px;
      padding-right: 20px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el10
{
      padding-left: 16px;
      padding-right: 20px;
}
}

@media (max-width:767px)
{
.m915_el10
{
      padding-left: 10px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el10
{
      padding-left: 10px;
}
}

@media (max-width:639px)
{
.m915_el10
{
      padding-left: 10px;
      padding-right: 10px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el10
{
      padding-left: 10px;
      padding-right: 10px;
}
}

@media (max-width:479px)
{
.m915_el10
{
      padding-left: 3px;
      padding-right: 4px;
}
}

.m915_el11
{
      width: 563px;
      height: 263px;
      left: 21.5px;
      top: 417px;
      z-index: 209;
      background-color: #FFFFFF;
      box-shadow: -2px 2px 2px 1px #888888;
      opacity:1;
}

@media (min-width:1400px) 
{
.m915_el11
{
      width: 563px;
      height: 263px;
      left: 21.5px;
      top: 417px;
      z-index: 209;
      background-color: #FFFFFF;
}
}

@media (max-width:1399px)
{
.m915_el11
{
      width: 552px;
      height: 268px;
      left: 26.5px;
      top: 405px;
      z-index: 235;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el11
{
      width: 552px;
      height: 268px;
      left: 26.5px;
      top: 405px;
      z-index: 235;
}
}

@media (max-width:959px)
{
.m915_el11
{
      width: 462.5px;
      height: 230px;
      left: 21px;
      top: 390px;
      z-index: 351;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el11
{
      width: 462.5px;
      height: 230px;
      left: 21px;
      top: 390px;
      z-index: 351;
}
}

@media (max-width:767px)
{
.m915_el11
{
      width: 72%;
      height: 240px;
      left: 14%;
      top: 367px;
      z-index: 297;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el11
{
      width: 72%;
      height: 240px;
      left: 14%;
      top: 367px;
      z-index: 297;
}
}

@media (max-width:639px)
{
.m915_el11
{
      width: 80.3%;
      height: 224px;
      left: 9.5%;
      top: 394px;
      z-index: 435;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el11
{
      width: 80.3%;
      height: 224px;
      left: 9.5%;
      top: 394px;
      z-index: 435;
}
}

@media (max-width:479px)
{
.m915_el11
{
      width: 97.2%;
      height: 290px;
      left: 1.5%;
      top: 541px;
      z-index: 489;
      opacity: 1;
      filter: alpha(opacity=100);
}
}

.m915_el12
{
      width: 100%;
      height: 100%;
      text-align: left;
      vertical-align: top;
      opacity: 1;
}

@media (min-width:1400px) 
{
.m915_el12
{
      height: 100%;
}
}

@media (max-width:1399px)
{
.m915_el12
{
      height: 100%;
      opacity: 1;
      filter: alpha(opacity=100);
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el12
{
      height: 100%;
      opacity: 1;
      filter: alpha(opacity=100);
}
}

@media (max-width:959px)
{
.m915_el12
{
      height: 100%;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el12
{
      height: 100%;
}
}

@media (max-width:767px)
{
.m915_el12
{
      height: 100%;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el12
{
      height: 100%;
}
}

@media (max-width:639px)
{
.m915_el12
{
      height: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el12
{
      height: 100%;
}
}

@media (max-width:479px)
{
.m915_el12
{
      height: 293px;
}
}

.m915_el13
{
      width: 97%;
      height: 50px;
      left: 1.5%;
      top: 22px;
      z-index: 85;
      font-size: 17px;
      line-height: 1.2em;
      color: #c76e5c;
}

@media (min-width:1400px) 
{
.m915_el13
{
      width: 97%;
      height: 50px;
      left: 1.5%;
      top: 22px;
      z-index: 85;
      font-size: 17px;
      line-height: 1.2em;
      color: #c76e5c;
}
}

@media (max-width:1399px)
{
.m915_el13
{
      font-size: 17px;
      width: 90.5%;
      height: 50px;
      left: 4.8%;
      top: 30px;
      z-index: 95;
      line-height: 20px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el13
{
      font-size: 17px;
      width: 90.5%;
      height: 50px;
      left: 4.8%;
      top: 30px;
      z-index: 95;
      line-height: 20px;
}
}

@media (max-width:959px)
{
.m915_el13
{
      font-size: 14px;
      width: 94.6%;
      height: 50px;
      left: 2.2%;
      top: 20px;
      z-index: 129;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el13
{
      font-size: 14px;
      width: 94.6%;
      height: 50px;
      left: 2.2%;
      top: 20px;
      z-index: 129;
}
}

@media (max-width:767px)
{
.m915_el13
{
      font-size: 17px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el13
{
      font-size: 17px;
}
}

@media (max-width:639px)
{
.m915_el13
{
      font-size: 15px;
      width: 98.2%;
      height: 50px;
      left: 0%;
      top: 20px;
      z-index: 131;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el13
{
      font-size: 15px;
      width: 98.2%;
      height: 50px;
      left: 0%;
      top: 20px;
      z-index: 131;
}
}

@media (max-width:479px)
{
.m915_el13
{
      width: 97%;
      height: 58px;
      left: 1.8%;
      top: 22px;
      z-index: 107;
      font-size: 14px;
      line-height: 18px;
}
}

.m915_el14
{
      text-align: center;
      vertical-align: top;
}

.m915_el15
{
      width: 92.5%;
      height: 110px;
      left: 4%;
      top: 84px;
      z-index: 83;
      letter-spacing: normal;
      line-height: 1.6em;
      font-size: 13.545454025268555px;
}

@media (min-width:1400px) 
{
.m915_el15
{
      width: 92.5%;
      height: 110px;
      left: 4%;
      top: 84px;
      z-index: 83;
      letter-spacing: normal;
      line-height: 1.6em;
      font-size: 13.545454025268555px;
}
}

@media (max-width:1399px)
{
.m915_el15
{
      line-height: 22px;
      width: 94.2%;
      height: 110px;
      left: 2.8%;
      top: 86px;
      z-index: 99;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el15
{
      line-height: 22px;
      width: 94.2%;
      height: 110px;
      left: 2.8%;
      top: 86px;
      z-index: 99;
}
}

@media (max-width:959px)
{
.m915_el15
{
      font-size: 12px;
      width: 94.2%;
      height: 110px;
      left: 2.7%;
      top: 80px;
      z-index: 139;
      line-height: 18px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el15
{
      font-size: 12px;
      width: 94.2%;
      height: 110px;
      left: 2.7%;
      top: 80px;
      z-index: 139;
      line-height: 18px;
}
}

@media (max-width:767px)
{
.m915_el15
{
      font-size: 14px;
      width: 94%;
      height: 120px;
      left: 2.2%;
      top: 90px;
      z-index: 125;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el15
{
      font-size: 14px;
      width: 94%;
      height: 120px;
      left: 2.2%;
      top: 90px;
      z-index: 125;
}
}

@media (max-width:639px)
{
.m915_el15
{
      font-size: 12px;
      width: 94%;
      height: 120px;
      left: 2.7%;
      top: 70px;
      z-index: 133;
      line-height: 17px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el15
{
      font-size: 12px;
      width: 94%;
      height: 120px;
      left: 2.7%;
      top: 70px;
      z-index: 133;
      line-height: 17px;
}
}

@media (max-width:479px)
{
.m915_el15
{
      width: 94%;
      height: 160px;
      left: 3%;
      top: 89px;
      z-index: 127;
      font-size: 12px;
      line-height: 19px;
}
}

.m915_el16
{
      text-align: left;
      vertical-align: top;
}

.m915_el17
{
      width: 18.5%;
      height: 26px;
      left: 76.5%;
      top: 207px;
      z-index: 71;
      background-color: #b84026;
      color: #FFFFFF;
      font-size: 16.63636302947998px;
     box-shadow: -2px 2px 2px 1px #888888;
}

.m915_el17 a
{
      text-decoration:none;
      color: white;
}

.m915_el17 a:hover
{
      text-decoration:underline;
}

@media (min-width:1400px) 
{
.m915_el17
{
      width: 18.5%;
      height: 26px;
      left: 76.5%;
      top: 207px;
      z-index: 71;
      background-color: #b84026;
      color: #FFFFFF;
      font-size: 16.63636302947998px;

}
}

@media (max-width:1399px)
{
.m915_el17
{
      font-size: 16px;
      width: 17.6%;
      height: 26px;
      left: 79.8%;
      top: 227px;
      z-index: 109;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el17
{
      font-size: 16px;
      width: 17.6%;
      height: 26px;
      left: 79.8%;
      top: 227px;
      z-index: 109;
}
}

@media (max-width:959px)
{
.m915_el17
{
      font-size: 14px;
      width: 87px;
      height: 23px;
      left: 77.9%;
      top: 199px;
      z-index: 151;
      line-height: 14px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el17
{
      font-size: 14px;
      width: 87px;
      height: 23px;
      left: 77.9%;
      top: 199px;
      z-index: 151;
      line-height: 14px;
}
}

@media (max-width:767px)
{
.m915_el17
{
      font-size: 13px;
      width: 17.7%;
      height: 20px;
      left: 79.5%;
      top: 210px;
      z-index: 131;
      line-height: 10px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el17
{
      font-size: 13px;
      width: 17.7%;
      height: 20px;
      left: 79.5%;
      top: 210px;
      z-index: 131;
      line-height: 10px;
}
}

@media (max-width:639px)
{
.m915_el17
{
      font-size: 12px;
      width: 18.5%;
      height: 20px;
      left: 78.6%;
      top: 190px;
      z-index: 137;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el17
{
      font-size: 12px;
      width: 18.5%;
      height: 20px;
      left: 78.6%;
      top: 190px;
      z-index: 137;
}
}

@media (max-width:479px)
{
.m915_el17
{
      width: 26.2%;
      height: 20px;
      left: 71.7%;
      top: 264px;
      z-index: 129;
}
}

.m915_el18
{
      width: 563px;
      height: 268px;
      left: 22.5px;
      top: 701px;
      z-index: 215;
      background-color: #FFFFFF;
      box-shadow: -2px 2px 2px 1px #888888;
}

@media (min-width:1400px) 
{
.m915_el18
{
      width: 563px;
      height: 268px;
      left: 22.5px;
      top: 701px;
      z-index: 215;
      background-color: #FFFFFF;
}
}

@media (max-width:1399px)
{
.m915_el18
{
      width: 552px;
      height: 268px;
      left: 26.5px;
      top: 695px;
      z-index: 239;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el18
{
      width: 552px;
      height: 268px;
      left: 26.5px;
      top: 695px;
      z-index: 239;
}
}

@media (max-width:959px)
{
.m915_el18
{
      width: 92.5%;
      height: 230px;
      left: 4.1%;
      top: 650px;
      z-index: 331;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el18
{
      width: 92.5%;
      height: 230px;
      left: 4.1%;
      top: 650px;
      z-index: 331;
}
}

@media (max-width:767px)
{
.m915_el18
{
      width: 72%;
      height: 240px;
      left: 14%;
      top: 635px;
      z-index: 305;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el18
{
      width: 72%;
      height: 240px;
      left: 14%;
      top: 635px;
      z-index: 305;
}
}

@media (max-width:639px)
{
.m915_el18
{
      width: 81.5%;
      height: 231px;
      left: 8.8%;
      top: 637px;
      z-index: 443;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el18
{
      width: 81.5%;
      height: 231px;
      left: 8.8%;
      top: 637px;
      z-index: 443;
}
}

@media (max-width:479px)
{
.m915_el18
{
      width: 97.2%;
      height: 290px;
      left: 1.4%;
      top: 843px;
      z-index: 505;
}
}

.m915_el19
{
      width: 100%;
      height: 100%;
      text-align: left;
      vertical-align: top;
}

@media (min-width:1400px) 
{
.m915_el19
{
      height: 100%;
}
}

@media (max-width:1399px)
{
.m915_el19
{
      height: 100%;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el19
{
      height: 100%;
}
}

@media (max-width:959px)
{
.m915_el19
{
      height: 100%;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el19
{
      height: 100%;
}
}

@media (max-width:767px)
{
.m915_el19
{
      height: 100%;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el19
{
      height: 100%;
}
}

@media (max-width:639px)
{
.m915_el19
{
      height: 100%;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el19
{
      height: 100%;
}
}

@media (max-width:479px)
{
.m915_el19
{
      height: 100%;
}
}

.m915_el20
{
      width: 96%;
      height: 60px;
      left: 2%;
      top: 27px;
      z-index: 47;
      font-size: 17.27272605895996px;
      line-height: 1.2em;
      color: #c76e5c;
}

@media (min-width:1400px) 
{
.m915_el20
{
      width: 96%;
      height: 60px;
      left: 2%;
      top: 27px;
      z-index: 47;
      font-size: 17.27272605895996px;
      line-height: 1.2em;
      color: #c76e5c;
}
}

@media (max-width:959px)
{
.m915_el20
{
      font-size: 14px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el20
{
      font-size: 14px;
}
}

@media (max-width:767px)
{
.m915_el20
{
      font-size: 17px;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el20
{
      font-size: 17px;
}
}

@media (max-width:639px)
{
.m915_el20
{
      font-size: 15px;
      width: 96%;
      height: 60px;
      left: 1%;
      top: 20px;
      z-index: 55;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el20
{
      font-size: 15px;
      width: 96%;
      height: 60px;
      left: 1%;
      top: 20px;
      z-index: 55;
}
}

@media (max-width:479px)
{
.m915_el20
{
      width: 96%;
      height: 60px;
      left: 2%;
      top: 23px;
      z-index: 65;
      font-size: 14px;
      line-height: 18px;
}
}

.m915_el21
{
      text-align: center;
      vertical-align: top;
}

.m915_el22
{
      width: 91.5%;
      height: 124px;
      left: 4%;
      top: 82px;
      z-index: 45;
      line-height: 1.6em;
}

@media (min-width:1400px) 
{
.m915_el22
{
      width: 91.5%;
      height: 124px;
      left: 4%;
      top: 82px;
      z-index: 45;
      line-height: 1.6em;
}
}

@media (max-width:1399px)
{
.m915_el22
{
      width: 96%;
      height: 130px;
      left: 2%;
      top: 90px;
      z-index: 49;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el22
{
      width: 96%;
      height: 130px;
      left: 2%;
      top: 90px;
      z-index: 49;
}
}

@media (max-width:959px)
{
.m915_el22
{
      font-size: 12px;
      width: 96%;
      height: 130px;
      left: 3%;
      top: 80px;
      z-index: 59;
      line-height: 18px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el22
{
      font-size: 12px;
      width: 96%;
      height: 130px;
      left: 3%;
      top: 80px;
      z-index: 59;
      line-height: 18px;
}
}

@media (max-width:767px)
{
.m915_el22
{
      font-size: 14px;
      width: 96%;
      height: 130px;
      left: 2%;
      top: 80px;
      z-index: 55;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el22
{
      font-size: 14px;
      width: 96%;
      height: 130px;
      left: 2%;
      top: 80px;
      z-index: 55;
}
}

@media (max-width:639px)
{
.m915_el22
{
      font-size: 12px;
      width: 96%;
      height: 130px;
      left: 2%;
      top: 80px;
      z-index: 65;
      line-height: 17px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el22
{
      font-size: 12px;
      width: 96%;
      height: 130px;
      left: 2%;
      top: 80px;
      z-index: 65;
      line-height: 17px;
}
}

@media (max-width:479px)
{
.m915_el22
{
      width: 96%;
      height: 162px;
      left: 2.7%;
      top: 92px;
      z-index: 83;
}
}

.m915_el23
{
      text-align: left;
      vertical-align: top;
}

.m915_el24
{
      width: 18.5%;
      height: 25px;
      left: 78%;
      top: 213px;
      z-index: 35;
      background-color: #b84026;
      font-size: 17px;
      color: #FFFFFF;
      box-shadow: -2px 2px 2px 1px #888888;
      line-height: 13px;
}

.m915_el24 a
{
      text-decoration:none;
      color: white;
}

.m915_el24 a:hover
{
      text-decoration:underline;
}

@media (min-width:1400px) 
{
.m915_el24
{
      width: 18.5%;
      height: 25px;
      left: 78%;
      top: 213px;
      z-index: 35;
      background-color: #b84026;
      font-size: 17px;
      color: #FFFFFF;
}
}

@media (max-width:1399px)
{
.m915_el24
{
      width: 17.754%;
      height: 26px;
      left: 79.5%;
      top: 220px;
      z-index: 47;
      font-size: 16px;
}
}

@media (min-width:960px) and (max-width:1399px)
{
.m915_el24
{
      width: 17.754%;
      height: 26px;
      left: 79.5%;
      top: 220px;
      z-index: 47;
      font-size: 16px;
}
}

@media (max-width:959px)
{
.m915_el24
{
      font-size: 14px;
      width: 19%;
      height: 23px;
      left: 77.922%;
      top: 199px;
      z-index: 75;
      line-height: 14px;
}
}

@media (min-width:768px) and (max-width:959px)
{
.m915_el24
{
      font-size: 14px;
      width: 19%;
      height: 23px;
      left: 77.922%;
      top: 199px;
      z-index: 75;
      line-height: 14px;
}
}

@media (max-width:767px)
{
.m915_el24
{
      line-height: 13px;
      font-size: 13px;
      width: 18%;
      height: 20px;
      left: 79.5%;
      top: 210px;
      z-index: 61;
}
}

@media (min-width:640px) and (max-width:767px)
{
.m915_el24
{
      line-height: 13px;
      font-size: 13px;
      width: 18%;
      height: 20px;
      left: 79.5%;
      top: 210px;
      z-index: 61;
}
}

@media (max-width:639px)
{
.m915_el24
{
      width: 18.5%;
      height: 20px;
      left: 78.5%;
      top: 190px;
      z-index: 63;
      font-size: 12px;
}
}

@media (min-width:480px) and (max-width:639px)
{
.m915_el24
{
      width: 18.5%;
      height: 20px;
      left: 78.5%;
      top: 190px;
      z-index: 63;
      font-size: 12px;
}
}

@media (max-width:479px)
{
.m915_el24
{
      width: 26.2%;
      height: 20px;
      left: 71.7%;
      top: 264px;
      z-index: 79;
}
}

